<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">
      <a href="https://compro.miu.edu" target="_blank">
        <img src="">
      </a>
    </p>
    <small class="text-black-50 text-center">
      &copy; Maharishi International University
    </small>
  </div>
</footer>
