/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 90px;
  background-color: rgba(6, 19, 37, 0.96);
  color: white;
}

.padded {
  paddint-top: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 105px;
  background-color: white;
}
