<nav class="navbar navbar-expand-lg navbar-fixed-top bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggler collapsed bg-light" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <i class="bi bi-list"></i>
      </button>
      <a class="navbar-brand" href="#/">MeanGames</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-item" ng-class="vm.isActiveTab('')" class="active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item" ng-class="vm.isActiveTab('games')">
          <a class="nav-link" href="/games">Games</a>
        </li>
        <li class="nav-item" ng-if="!vm.isLoggedIn()" ng-class="vm.isActiveTab('register')">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item" ng-if="vm.isLoggedIn()" ng-class="vm.isActiveTab('profile')">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
